html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#resultsDiv {
  padding: 0px;
  border: 1px solid #ccc;
  background-color: green;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #5c5c5c;
  color: #fff;
  /* width: 200px; */
}
#resultsHeader {
  padding: 5px;
}
#resultsInner {
  /*border: 3px solid #fff;*/
  padding: 5px;
  /* border-radius: 5px; */
  font-family: "Carrois+Gothic", sans-serif;
  color: #fff;
  height: auto;
  overflow-y: auto;
  white-space: nowrap;
}

#resultsDiv .title {
  font-family: "Carrois+Gothic", sans-serif;
  text-align: center;
  font-size: 150%;
}

