html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#resultsDiv {
    padding: 0px;
    border: 1px solid #ccc;
    background-color: green;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #5c5c5c;
    color: #fff;
    /* width: 200px; */
}

#resultsDivInner {
    border: 3px solid #fff;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Carrois+Gothic', sans-serif;
    color: #fff;
    height: 320px;
    overflow-y: auto;
    white-space: nowrap;
}

#resultsDiv .title {
    font-family: 'Carrois+Gothic', sans-serif;
    text-align: center;
    font-size: 150%;
}

#RouteToMeasureDiv {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    left: 20px;
    bottom: 30px;
    width: 220px;
    box-shadow: 5px 5px 5px #5c5c5c;
}

#RouteToMeasureToggle {
    position: fixed;
    left: 25px;
}
#RouteToMeasureFields {
    display: none;
}

#legendDiv {
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #5c5c5c;
    
}
.title {
    font-family: "Bangers", cursive;
    text-align: center;
    font-size: 150%;
    left: 25px;
    cursor: pointer;
}

.calcite-title-main {
    margin-left: 25px;
}

#routeID {
    width: 75%;
}

#RouteIDRoute {
    color: red;
}

.error {
    color: red;
}

.nounderline , .nounderline:hover{
    text-decoration: none;
    color: #000;
}

.esri-search {
    z-index: 99;
}